<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | Not Found</title>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    />
    <style>
        body {
            background-color: #000;
            opacity: 0.9;
        }
        section {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            background-color: #fff;
            border-radius: 15px;
            max-width: 300px;
            padding: 16px;
        }
    </style>
</head>
<body>

    <section>
        <h2>Page not found</h2>
        <p>Sorry the requested page could not be found!!</p>
        <a href="{% url 'index' %}" class="btn btn-primary w-100">Back to Home</a>
    </section>
    
</body>
</html>